<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form method="POST" action="../controller/controller.php" id="styleFormContact">
        <h2 class="title">Formulario de Contacto</h2>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required class="input_field">

        <label for="correo">Correo electrónico:</label>
        <input type="email" id="correo" name="correo" required class="input_field">

        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" rows="4" required class="input_field"></textarea>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>
